.header {position:fixed; width:100%; top:0; left:0; background:rgba(0,0,0,.4); color:#FFF; z-index:101; padding:22px 0 0; border-bottom:1px solid #FFF;
	a {color:#FFF;}
}
.header__widget {
	&__title {float:left; margin:0; font-size:14px;}
}

.logo {float:left; width:200px; padding-bottom:22px; transition:.5s;}
.contact {float:right;
	&__phone {font-size:24px; margin-right:40px;}
}

.menu {position:absolute; right:0; bottom:0; font-size:14px; text-transform:uppercase; margin-top:30px;
	ul {margin:0; padding:0; list-style:none;
		li {position:relative; padding:0; display:inline-block;
			a {display:block; text-decoration:none; transition:.5s; padding:0 15px 10px; border-bottom:4px solid transparent;}
			ul {position:absolute; top:36px; width:180px; text-align:center; background:rgba(0,0,0,.4); left:50%; margin-left:-90px; padding:0 10px; transition:.5s; opacity:0; visibility:hidden;
				li {display:block;
					a {padding:10px 0; border-bottom:4px solid transparent;}
					&:first-child {border-bottom:1px solid rgba(255,255,255,.6);}
				}
			}

			&.current-menu-item {
				a {border-bottom:4px solid $primary-color; color:$primary-color;}
			}
			&:hover {
				a {border-bottom:4px solid $primary-color; color:$primary-color;}
				ul {opacity:1; visibility:visible;
					li {
						a {border-bottom:4px solid transparent; color:#FFF;
							&:hover {color:$primary-color;}
						}
					}
				}
			}
		}
	}
}

.header .menu .menu-item-has-children > a {pointer-events:none;}

.ft-image {height:410px;}

// sticky nav
.header--scrolled {padding-top:10px;
	.logo {width:100px; padding-bottom:10px;}
	.contact {display:none;}
}

a.mobile_nav span:nth-child(even) {left:50%; border-radius:0 9px 9px 0;}
a.mobile_nav span:nth-child(odd) {left:0px; border-radius:9px 0 0 9px;}
a.mobile_nav span:nth-child(1), a.mobile_nav span:nth-child(2) {top:0px;}
a.mobile_nav span:nth-child(3), a.mobile_nav span:nth-child(4) {top:8px;}
a.mobile_nav span:nth-child(5), a.mobile_nav span:nth-child(6) {top:16px;}
a.mobile_nav.open span:nth-child(1),a.mobile_nav.open span:nth-child(6) {-webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}
a.mobile_nav.open span:nth-child(2),a.mobile_nav.open span:nth-child(5) {-webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg);}
a.mobile_nav.open span:nth-child(1) {left:5px; top:7px;}
a.mobile_nav.open span:nth-child(2) {left: calc(50% - 5px); top:7px;}
a.mobile_nav.open span:nth-child(3) {left:-50%; opacity:0;}
a.mobile_nav.open span:nth-child(4) {left:100%; opacity:0;}
a.mobile_nav.open span:nth-child(5) {left:5px; top:10px;}
a.mobile_nav.open span:nth-child(6) {left: calc(50% - 4px); top:11px;}